
body { 
    font-family: sans-serif; 
    max-width: 600px; 
    margin: 40px auto; 
    padding: 20px; 
}

#container{
    background-color: #28a745;
}

form { 
    background: #f4f4f4; 
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 20px; 
}
        

input { 
    display: block; 
    width: 100%; 
    margin-bottom: 10px; 
    padding: 8px; 
}

button { 
    background: #28a745; 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
}
 
.usuario-card { 
    border-bottom: 1px solid #ddd; 
    padding: 10px 0; 
}

