
body { 
    font-family: sans-serif; 
    max-width: 600px; 
    margin: 40px auto; 
    padding: 20px; 
}

#container{
    background-color: #28a745;
}

form { 
    background: #f4f4f4; 
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 20px; 
}
        

input { 
    display: block; 
    width: 100%; 
    margin-bottom: 10px; 
    padding: 8px; 
}

button { 
    background: #28a745; 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
}
 
.usuario-card { 
    border-bottom: 1px solid #ddd; 
    padding: 10px 0; 
}


.card-login {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}


.pantalla-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    
}


.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    color: white;
    padding: 10px 20px;
}

.contenedor-principal {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    margin-top: 20px;
}
